

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14;
    /* background-image: */
}
/* REMEMBER TO MAKE MOCKUP */
h1{
    background: url("../images/pineapple-sesame-pastries-1-1327665-1920x1440.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 100px;
    margin: 0;
}

h1, h2, h3{
    font-weight: normal;
}

nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
}


nav ul li{
    display: inline-block;
    margin: 0;
    width: 30%;
    padding: 1em;
    box-sizing: border-box;
    /* border-right: 1px solid black; */
}

nav ul a{
    text-decoration: none;
    color: gray;
    border-radius: 9px;
    padding: 5px;
}

.nav:hover{
    color: cyan;
}

nav ul li:last-child {
    border: none;
}

nav ul a:hover{
    background-color: #A1C8CA;
    color: white;
    /* transition: color 0.3s; */
    transition: background 0.3s;
}

nav ul a{
    transition: 0.3s;
}

img{
    width: 400px;
    align: center;
    margin-top: 20px;
    border-radius: 9px;
    /* margin-right: 20px; */
}


.doughnuts:hover{
    box-shadow: -2px 2px 3px 2px gray;
    transition: 0.3s;
}

blockquote p::before{
    content: '\201C';
}

blockquote p::after{
    content: '\201D';
}

img{
    transition: 0.3s;
}

h2{
    text-align: center;
}

.brief{
    text-align: center;
}

.about {
    text-align: center;
}

/* Meet The Team Section Style */
.profile{
    background-color: lightgray;
    border-radius: 9px;
    text-align: center;
  }
  .profile .team{
    padding: 1em;
  }
  .profile .team h2{
    margin-top: 0;
  }

  .profile:hover{
    box-shadow: -2px 2px 3px 2px gray;
    transition: 0.3s;
}

.profile{
    transition: 0.3s;
}

  /* Contact Page Style */
h3{
    text-align: center;
}
  
.contact{
    text-align: center;
    background-color: lightgray;
    border-radius: 9px;
    padding-top: 1px;
    padding-bottom: 20px;
}

.map{
    width: 300px;
    height: 300px;
    align: center;
    margin-top: 0px;
    border-radius: 9px;
}

  form {
    background-color: lightgray;
    border-radius: 9px;
    padding: 1.4em;
    width: 100%;
    box-sizing: border-box;
}

.name{
    width: 400px;
    padding: 4px;
    margin-bottom: 10px;
    border: none;
    border-radius: 7.5px;
}

.email{
    width: 400px;
    padding: 4px;
    margin-bottom: 10px;
    border: none;
    border-radius: 7.5px;
}

.message{
    width: 400px;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 7.5px;
}

button{
    width: ;
    background-color: white;
    padding: 4px;
    border: none;
    border-radius: 7.5px;
}

button:hover{
    background-color: #A1C8CA;
    color: white;
    /* transition: color 0.3s; */
    transition: background 0.3s;
}

button{
    transition: 0.3s;
}

footer{
    margin-top: 20px;
  border-top: 2px solid #A1C8CA;
  padding: 20px;
}

/* --------------------------
      Desktop Styles
---------------------------- */

@media screen and (min-width: 700px) {
    body{
      font-size: 20px;
    }

    .profile{
        background-color: #A1C8CA;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1em;
        margin-bottom: 20px;
    }

    h1{
        color: blueviolet;
    }

    @media screen and (min-width: 800px) {
        .actions-list li {
          max-width: 20%;
        }
        nav{
            font-size: 25px;
        }

        h1{
            background: url(..//images/pastry-baking-samosa-s-2-1523437.jpg);
            background-size: cover;
            height: auto;
            color: black;
        }