body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #aad4cf
}
/* styling the main body of the website */
main{
    background-color: rgba(255,255,255,0.6);
    border: 0px solid black;
    padding: 1.4em;
    width: 100%;
    box-sizing: border-box;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}
/* positioning the second image to the left side of the page */
img{
    width: 200px;
    float: left;
    margin-right: 20px;
}

/* styling the NAV bars */
nav{
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 24px;
    background-color: rgba(255,255,255,0.6);
    border: 0px solid black;
    width: 100%;
    box-sizing: border-box;   
}



nav ul a{
    color: black;
    text-decoration: none;
}

/* sizing the header image */
h1{
    background: url("../images/lone-starfish-wide.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 100px;
    margin: 0;
}

h1, h2, h3{
    font-weight: normal;
}

nav ul{
    margin: 0;
    padding: 0;
}


nav ul li{
    display: inline-block;
    margin: 0;
    width: 30%;
    padding: 1em;
    box-sizing: border-box;
    border-right: 1px solid black;
}

nav ul li:last-child {
    border: none;
}
/* styling the forms/text boxes */
form {
    background-color: transparent;
    border: 1px solid black;
    padding: 1.4em;
    width: 100%;
    box-sizing: border-box;
}

.name {
    width: 900px;
}

.email {
    width: 900px;
}

.message {
    height: 100px;
}

.message {
    width: 900px
}

section div {
    padding: 1%;
}
/* styling the footer */
footer{
    padding: 20px;
    text-align: right;
    background-color: rgba(255,255,255,0.6);
    border: 0px solid black;
    padding: 1.4em;
    width: 100%;
    box-sizing: border-box;
}
