body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.site-title{
    color: white;
}

#my-image{
    box-shadow: 0px 0px 2px 1px black;
}

h3+ul{
    list-style: square;
}

nav ul{
    list-style: none;
}

nav ul a{
    color: white;
    text-decoration: none;
}

nav ul a,
nav ul a:link
nav ul a:visited{
    background: lightskyblue;
    border: 1px solid #000
}

nav ul a:hover,
nav ul a:focus{
    background: black;
}
aside li:nth-child(odd){
    background-color: lightskyblue;
}





footer{
    background: lightskyblue;
}